<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.manaul.highschool.main" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 如果需要精确定位的话请加上此权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 推送所需的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/android_manual_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/android_manual_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.manaul.highschool.service.DownloadService"
            android:enabled="true" >
        </service>

        <activity android:name=".NewHomeActivity" />
        <activity android:name=".ActivityItem" />
        <activity android:name=".ContentListActivity" />
        <activity android:name=".ContentDetailActivity" />
        <activity android:name=".ShowPicActivity" />
        <activity android:name=".ActivityMy" />
        <activity android:name=".ActivitySetting" />
        <activity android:name=".ForgetPwdActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ResetpwdActivity" />
        <activity android:name=".VipActivity" />
        <activity android:name=".ActivityAboutMe" />
        <activity android:name=".ActivityVideo" />

        <!-- 支付免责  activity -->
        <activity android:name="cn.bmob.pay.v3.act.PayAct" />
        <activity
            android:name="c.b.a.A"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity
            android:name="c.b.a.B"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent" />

        <!-- 替换为在友盟后台申请的应用Appkey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="591a5a72c8957627d0000848" >
        </meta-data>
        <!-- 应用的推广渠道名称，Channel ID自定义 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />
    </application>

</manifest>